<ion-header class="top-bar">
  <ion-toolbar>
    <ion-title class="logo">Tour of Heroes</ion-title>

    <ion-buttons slot="end" class="menu">
      <ion-button routerLink="/heroes" fill="clear">Heroes</ion-button>
      <ion-button routerLink="/powers" fill="clear">Historia</ion-button>
      <ion-button fill="clear" disabled>Equipos</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="hero">
    <div class="hero-text">
      <h1>Elegí a tus Super Héroes</h1>
      <p>Selecciona a tu héroe más icónico</p>

      <div class="cta-row">
        <ion-button routerLink="/heroes" class="cta" expand="block">
          Ver Héroes
        </ion-button>

        <ion-button
          class="btn-secondary"
          expand="block"
          fill="outline"
          (click)="toggleSearch()"
        >
          Buscar héroe
        </ion-button>
      </div>

      <div class="search-row" *ngIf="showSearch">
        <div class="search-box">
          <ion-input
            class="search-input"
            type="text"
            placeholder="Ej: Carnage, Venom..."
            [(ngModel)]="searchText"
            (ionInput)="onInputChange()"
            (keydown.enter)="goHero()"
          ></ion-input>

          <ul class="autocompleteList" *ngIf="showAutocompleteList">
            <li *ngFor="let hero of autocompleteList" (click)="selectHero(hero)">
              {{ hero.name }}
            </li>
          </ul>
        </div>

        <ion-button class="btn-search" (click)="goHero()">
          Ir
        </ion-button>
      </div>
    </div>

    <div class="hero-image">
      <img
        src="assets/07c19cb172e43104f3671a6c1e3af3ee.jpg"
        alt="Hero image"
      />
    </div>
  </section>
</ion-content>
